.tours {
  position: relative;

  &::after {
    right: 0;
    top: 0;
    content: '';
    width: 346px;
    height: 595px;
    display: block;
    position: absolute;
    z-index: -1;
    background-image: image-set(
    url("../../img/clouds-mobile-1@1x.webp") type("image/webp") 1x,
    url("../../img/clouds-mobile-1@2x.webp") type("image/webp") 2x,
    url("../../img/clouds-mobile-1@1x@1x.png") type("image/png") 1x,
    url("../../img/clouds-mobile-1@2x@2x.png") type("image/png") 2x,
  );
  background-repeat: no-repeat;
  background-position: right 10px;

  @include vp-768 {
    width: 602px;
    height: 1630px;
    background-image: image-set(
      url("../../img/clouds-tablet-1@1x.webp") type("image/webp") 1x,
      url("../../img/clouds-tablet-1@2x.webp") type("image/webp") 2x,
      url("../../img/clouds-tablet-1@1x@1x.png") type("image/png") 1x,
      url("../../img/clouds-tablet-1@2x@2x.png") type("image/png") 2x,
    );
    background-position: right -92px;
  }

  @include vp-1440 {
    background-image: image-set(
      url("../../img/clouds-desktop-1@1x.webp") type("image/webp") 1x,
      url("../../img/clouds-desktop-1@2x.webp") type("image/webp") 2x,
      url("../../img/clouds-desktop-1@1x@1x.png") type("image/png") 1x,
      url("../../img/clouds-desktop-1@2x@2x.png") type("image/png") 2x,
    );

    background-position: right -126px;
  }
}

}
.tours__inner-wrap {
  padding-top: 39px;
  padding-bottom: 40px;


  @include vp-768 {
    position: relative;
    padding-top: 60px;
  }

  @include vp-1440 {
    display: flex;
    flex-direction: column;

    padding-top: 123px;
    padding-bottom: 100px;
  }
}

.tours__top-section-elements {
  @include vp-768 {
    display: flex;
    justify-content: space-between;
  }
}

.tours__swiper {
  margin: 0 0 25px 0;

  @include vp-768 {
    margin: 0 0 26px 0;
  }

  @include vp-1440 {
    margin: 0 0 54px 0;
  }
}

.tours__swiper-wrapper {

  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.tours__title {
  width: 290px;
  margin: 0 0 39px 0;
  position: relative;
  font-weight: 800;
  font-size: 22px;
  line-height: 100%;

  @include vp-768 {
    width: 339px;
    font-size: 25px;
    margin: 0 0 35px 0;
  }

  @include vp-1440 {
    width: 542px;
    font-size: 35px;
    margin: 0 0 50px 0;
  }

  &::before {
    content: 'Ближайшие туры';

    position: absolute;
    bottom: 12px;
    left: 0;
    opacity: 0.03;
    font-weight: 800;
    font-size: 26px;
    line-height: 100%;

    @include vp-768 {
      width: 542px;
      font-size: 40px;
      bottom: 0;
    }

    @include vp-1440 {
      font-size: 55px;
    }
  }
}


.tours__swiper-slide {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  min-height: 416px;
  height: auto;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: $gradient-cards-color;
  }


  picture {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


}

.tours__content-wrap {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 0 20px 30px;



  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  li {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between
  }



}

.tours__top-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin: 0 0 16px 0;

  @include vp-768 {
    gap: 0;
    justify-content: space-between;
  }
}
.tours__label-geo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 15px 5px 14px;
  background-color: #0266C1;
}
.tours__geo-element {
  font-size: 12px;
  display: flex;
  position: relative;
  left: 2px;
  top: 1px;
  align-items: center;
  gap: 9px;
  font-weight: 500;
  color: $absolute-white;
  svg {

  }
  use {

    fill: $absolute-white;
  }
}
.tours__timeday-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;

  span {
    display: flex;
    align-items: center;
    gap: 12px;
  }


}
.tours__timeday-element {
  color: $absolute-white;
  font-size: 12px;
  span {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
  }
  use {
    fill: $absolute-white;
  }
}
.tours__title-card {
  margin: 0 0 26px 0;
  color: $absolute-white;
  font-size: 24px;
  line-height: 117%;

  br {
    display: block;

    @include vp-1440 {
      display: block;
    }
  }
}

.tours__card-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tours__element-title {
  font-size: 12px;
  font-weight: 300;
  color: $absolute-white;

}
.tours__card-stars {
  display: inline-flex;
  gap: 1px;
}
.tours__element-subtitle {
  color: $absolute-white;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
}
.tours__button-wrap {
  display: none;

  @include vp-768 {
    display: block;
    top: 60px;
    left: 84%;
    z-index: 1;
    position: absolute;
  }

  @include vp-1440 {
    top: 120px;
    right: 121px;
    left: auto;
  }
}
.tours__button {
}
.arrow-button {
}
.arrow-button--prev {
}
.arrow-button--next {
}
.tours__link {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: $primary;
  gap: 12px;
  padding: 10px 7px 10px 9px;
  transition: 0.3s;

  @include vp-768 {
    font-size: 16px;
    use {

      transform: translateY(-1px);
    }
  }

  &:hover {
    color: rgba($primary, 0.2);
  }

  &:focus {
    outline: none;
    color: $buttom-primary-color
  }

  &:active {
    color: #1C3374;
  }

  &--disabled {
    color: #999999;
    cursor: not-allowed;
  }

  &--disabled:hover,
  &--disabled:focus,
  &--disabled:active {
    color: #999999;
  }
}
