/* здесь используйте глобальные переменные */
$absolute-white: #ffffff;
$absolute-black: #000000;
$footer-color: #030a1a;
$primary: #2d383f;
$buttom-primary-color: #0266C1;
$header-color: #0266C1;
$gradient-slider-color: linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0.33) 100%);
$gradient-cards-color:  linear-gradient(180deg,rgba(0, 0, 0, 0) 61.9%, rgba(0, 0, 0, 1) 100%);


$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;


$primary-font: 'Montserrat';
